@charset "utf-8";

body {
  background-color: #efe8d9;
  /*background-image: url(../images/bg.png);*/
  font-size: 26px;
  font-family: 'arial','Hiragino Sans','Meiryo',sans-serif;
  color: #333333;
}
header {
  width: 1240px;
  margin: 0 auto 44px;
}
h1 {
  text-align: center;
  padding: 20px 0px 16px;
}
header nav ul {
  display: flex;
  justify-content: center;
  border-top: 2px solid #7c5d48;
  border-bottom: 2px solid #7c5d48;
  background-color: rgba(255,255,255,0.42);
  padding: 12px 0px 10px;
}
header nav ul li {
  margin: 0 20px;
}
header nav ul li a {
  font-size: 22px;
  font-weight: bold;
  color: #7c5d48;
}
header nav ul li a:hover {
  text-decoration: underline double;
}
div {
  width: 1240px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: space-between;
}
main {
  flex-basis: 920px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 62px 72px 32px 72px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.16);
}
aside {
  flex-basis: 284px;
}
aside nav {
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.16);
  padding: 24px 28px;
  margin-bottom: 24px;
}
aside nav h2 {
  margin-bottom: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #7c5d48;
}
aside nav ul {
  font-size: 14px;
}
.Links ul li {
  list-style-type: square;
  color: #7c5d48;
  margin: 0 0 16px 20px;
}
.Links ul li a {
  color: #333333;
}
}
article h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 8px;
}
time {
  background-color: #91c777;
  border-radius: 0px 22px 22px 22px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  padding: 13px 25px 12px 20px;
  display: inline-block;
}
.postdate {
  margin-bottom: 26px;
}
.top {
  margin-bottom: 26px;
}
article h3 {
  border-bottom: 2px solid #6ab547;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  background-image: url(../images/アイコン.JPG);
  background-repeat: no-repeat;
  background-position: left bottom;
  padding: 20px 10px 10px 100px;
}
article section p {
  line-height: 1.6;
  margin-bottom: 24px;
}
article section {
  margin-bottom: 50px;
}
footer {
  background-color: #523f2e;
  color: #ffffff;
  text-align: center;
  padding: 14px 10px 20px;
}
table , td, th{
  font-size: 26px;
  border:solid 1px #666;
}

.formSec {
  background-color: #efe8d9;
  padding-bottom: 60px;
  padding-top: 20px;
  width: 920px;
}
form {
  width: 600px;
  margin-right: 460px ;
}
input[type="text"],
input[type="email"],
select,
textarea {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  width: 100%;
  margin-top: 5px;
  padding: 4px 8px;
}
input[type="radio"],
input[type="checkbox"] {
  width: 16px;
  height: 16px;
  vertical-align: baseline;
  margin-right: 4px;
}
.attendRadio {
  text-align: center;
  margin-bottom: 40px;
}
.attendRadio label {
  margin: 0 20px;
  font-size: 32px;
}
.allergyCheck label {
  margin-right: 24px;
}
textarea {
  height: 148px;
  margin-bottom: 30px;
}
form > p {
  line-height: 1.4;
  margin-bottom: 20px;
}
.submitBtn {
  text-align: center;
}
input[type="submit"] {
  background-color: #121212;
  color: #ffffff;
  padding: 18px 80px;
}